{% extends 'base.html' %}
{% block content %}


<!--Create Page-->
<section class="createPage">

    <form method="POST">
        <fieldset>
            <legend>Add Album</legend>
            <div class="container">

                <!-- Form for Adding Album -->
                {{ form }}
                {% csrf_token %}

                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}
