{% extends 'base.html' %}
{% block content %}

<!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">

        <div class="albumCover">
            <!-- Album Image -->
            <img src="{{ album.image }}" alt="Cover Image">
        </div>

        <div class="albumInfo">

            <div class="albumText">
                <!-- Album Info -->
                <h1>Name: {{ album.name }}</h1>
                <h3>Artist: {{ album.artist }}</h3>
                <h4>Genre: {{ album.genre }}</h4>
                <h4>Price: ${{ album.price }}</h4>
                <p>{{ album.description }}</p>
            </div>

            <div class="actionBtn">
                <!-- Album Buttons -->
                <a href="{% url 'album edit' pk=album.pk %}" class="edit">Edit</a>
                <a href="{% url 'album delete' pk=album.pk %}" class="remove">Delete</a>
            </div>

        </div>
    </div>
</section>

{% endblock %}
