{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add book' %}">Add Book</a>
                        <a class="button" href="{% url 'profile details' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Details Page -->
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ book.title }}</h3>
                <p class="type">Type: {{ book.book_type }}</p>
                <p class="img"><img src="{{ book.image }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'book edit' pk=book.pk %}">Edit</a>
                    <a class="button" href="{% url 'book delete' pk=book.pk %}">Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>{{ book.description }}</p>
            </div>
        </section>

{% endblock %}
