{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add book' %}">Add Book</a>
                        <a class="button" href="{% url 'profile details' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Edit Profile Page -->
        <section id="edit-profile-page" class="edit">
            <form id="edit-form" action="#" method="POST">
                <fieldset>
                    <legend>Delete Profile</legend>
                    {{ form }}
                    {% csrf_token %}
                    <input class="button submit" type="submit" value="Delete">
                </fieldset>
            </form>
        </section>

{% endblock %}
