{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add book' %}">Add Book</a>
                        <a class="button" href="{% url 'profile details' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Dashboard Page-->
        <section id="dashboard-page" class="dashboard">
            <h1>Dashboard</h1>
             <!-- Display paragraph: If the user doesn't have any books  -->
            {% if not books %}
            <p class="no-books">No books in database!</p>
            {% else %}
            <!-- Display ul: with list-items for every book if any -->
            <ul class="my-books-list">
                {% for book in books %}
                <li class="myBooks">
                            <h3>{{ book.title }}</h3>
                            <p>Type: {{ book.book_type }}</p>
                            <p class="img"><img src="{{ book.image }}" alt=""></p>
                            <a class="button" href="{% url 'book details' pk=book.pk %}">Details</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>

{% endblock %}
