{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home' %}">Dashboard</a>
                </section>
            </nav>
        </header>

     <!-- No Profile Page -->
        <section id="register-page" class="register">
            <form id="register-form" action="#" method="POST">
                <fieldset>
                    <legend>Profile Form</legend>
                    {{ form }}
                    {% csrf_token %}
                    <input class="button submit" type="submit" value="Enter">
                </fieldset>
            </form>
        </section>

{% endblock %}
