{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add book' %}">Add Book</a>
                        <a class="button" href="{% url 'profile details' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <!-- Profile Page -->
        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ profile.first_name}} {{ profile.last_name }}</h3>
                <p class="img"><img src="{{ profile.image }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'profile edit' %}">Edit</a>
                    <a class="button" href="{% url 'profile delete' %}">Delete</a>
                </div>
            </div>
        </section>

{% endblock %}

