{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <h1>My Recipes</h1>
    {% if not form %}
    <h2>There are no recipes.</h2>

    {% else %}
        {% for item in form %}
        <div class="items-container">
            <div class="item">
                <h2>{{ item.title }}</h2>
                <img class="detail-img" src="{{ item.image_url }}" alt="recipe-image">
                <div class="recipe-info">
                    {{ item.description }}
                </div>
                <div class="buttons-container">
                    <a class="button detail" href="./details.html">Details</a>
                    <a class="button edit" href="./edit.html">Edit</a>
                    <a class="button delete" href="./delete.html">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}