{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <h1>My Recipes</h1>
    {% if not form %}
    <h2>There are no recipes.</h2>

    {% else %}
        {% for recipe in form %}
        <div class="items-container">
            <div class="item">
                <h2>{{ recipe.title }}</h2>
                <img class="detail-img" src="{{ recipe.image_url }}" alt="recipe-image">
                <div class="recipe-info">
                    {{ recipe.description }}
                </div>
                <div class="buttons-container">
                    <a class="button detail" href="{% url 'details recipe' pk=recipe.pk %}">Details</a>
                    <a class="button edit" href="{% url 'edit recipe' pk=recipe.pk %}">Edit</a>
                    <a class="button delete" href="{% url 'delete recipe' pk=recipe.pk %}">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}