{% extends 'base.html' %}
{% block content %}
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href="#">GamesPlay</a></h1>
        <nav>
            <a href="#">Dashboard</a>
            <a href="#">Create Game</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- create game section -->
    <section id="create-page" class="auth">
        <!-- create game form -->
        <form method="POST" id="create">
            <div class="container">
                <!-- create game paragraph -->
                <h1>Create Game</h1>
                    {{ form }}
                    {% csrf_token %}

                <!-- create game button -->
                <input class="btn submit" type="submit" value="Create Game">
            </div>
        </form>
    </section>
{% endblock %}