{% extends 'base.html' %}
{% block content %}
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>
    {% if not games %}
    <!-- Display paragraph: If there are no games-->
    <p class="no-articles">No games yet</p>
        {% else %}
    <!-- Display div "game" with information about every game (if any)-->
    <section id="welcome-world">
        {% for game in games %}
        <div class="game">
            <div class="image-wrap">
                <!-- game image -->
                <img src="{{ game.image }}"
                     alt="UNO">
            </div>

            <!-- game title -->
            <h3>{{ game.title }}</h3>
            <!-- game category-->
            <h1>{{ game.category }}</h1>
            <div class="data-buttons">
                <!-- game details button -->
                <a href="{% url 'details game' game.pk %}" class="btn details-btn">Details</a>
            </div>

        </div>
        {% endfor %}
        {% endif %}


    </section>
{% endblock %}