{% extends 'base.html' %}
{% block content %}
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href="#">GamesPlay</a></h1>
        <nav>
            <a href="#">Dashboard</a>
            <a href="#">Create Game</a>
            <a href="#">Profile</a>
        </nav>
    </header>
    {% if not games %}
    <!-- Display paragraph: If there are no games-->
    <p class="no-articles">No games yet</p>

    <!-- Display div "game" with information about every game (if any)-->
    <section id="welcome-world">
        {% else %}
        {% for game in games %}
        <div class="game">
            <div class="image-wrap">
                <!-- game image -->
                <img src="{{ game.image }}"
                     alt="UNO">
            </div>

            <!-- game title -->
            <h3>{{ game.title }}</h3>
            <!-- game category-->
            <h1>{{ game.category }}</h1>
            <div class="data-buttons">
                <!-- game details button -->
                <a href="#" class="btn details-btn">Details</a>
            </div>
            {% endfor %}
            {% endif %}
        </div>



    </section>
{% endblock %}