<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>GamesPlay</title>
</head>
<body>
<header>

    <!-- navigation bar -->
    <h1><a class="home" href="#">GamesPlay</a></h1>
    <nav>
        <a href="#">Dashboard</a>
        <a href="#">Create Game</a>
        <a href="#">Profile</a>
    </nav>
</header>

<section id="create-page" class="auth">
    <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>

        <!-- delete profile form -->
        <form id='delete'>

            <!-- confirm button -->
            <input class="btn submit" type="submit" value="Delete">
        </form>
        <!-- end delete profile form -->

    </div>
</section>

<!-- footer -->
<footer>
    &copy;SoftUni Team 2022. All rights reserved.
</footer>

</body>
</html>
