{% extends 'base.html' %}
{% block content %}

    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit game form -->
    <section id="delete-page" class="auth">
        <form method="POST" id="delete">
            <div class="container">

                <h1>Delete Game</h1>

                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Delete Game">
            </div>
        </form>
    </section>
{% endblock %}
