{% extends 'base.html' %}
{% block content %}
<body>
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

<section id="create-page" class="auth">
    <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>

        <!-- delete profile form -->
        <form method="POST" id='delete'>
            {{ form }}
            {% csrf_token %}
            <!-- confirm button -->
            <input class="btn submit" type="submit" value="Delete">
        </form>
        <!-- end delete profile form -->

    </div>
</section>
{% endblock %}
