{% extends 'base.html' %}
{% block content %}
<div id="box">
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ game.image }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ game.title }} <span class="levels">Rating: {{ game.rating }}</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ game.category }}</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: {{ game.max_level }}</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                {{ game.summary }}
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit game' game.pk %}" class="button">Edit</a>
                <a href="{% url 'delete game' game.pk %}" class="button">Delete</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}