<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- navigation bar-->
        <h1><a class="home" href="#">GamesPlay</a></h1>
        <nav>
            <a href="#">Dashboard</a>
            <a href="#">Create Game</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="https://image.api.playstation.com/cdn/EP0001/CUSA04040_00/LRI3Rg5MKOi5AkefFaMcChNv5WitM7sz.png"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>UNO <span class="levels">Rating: 4.3</span></h1>
                <!-- game category -->
                <p><span class="type">Category: Board/Card Game</span></p>
                <!-- game max level (if any) -->
                <p><span class="type">Max Level: 10</span></p>
            </div>
            <!-- game summary (if any)-->
            <p class="text">
                Uno is an American shedding-type card game that is played with a specially printed deck. The game's
                general principles put it into the crazy eights family of card games, and it is similar to the
                traditional European game mau-mau.
            </p>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="#" class="button">Edit</a>
                <a href="#" class="button">Delete</a>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>