{% extends 'base.html' %}
{% block content %}
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit game section -->
    <section id="create-page" class="auth">
        <!-- edit game form -->
        <form method="POST" id="create">
            <div class="container">
                <!-- Edit Game paragraph -->
                <h1>Edit Game</h1>

                {{ form }}
                {% csrf_token %}

                <!-- edit game button -->
                <input class="btn submit" type="submit" value="Edit Game">
            </div>
        </form>
    </section>
{% endblock %}
