{% extends 'base.html' %}
{% block content %}
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="{% url 'home' %}">GamesPlay</a></h1>
        <nav>
            <!-- if the user has created a profile -->
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'create game' %}">Create Game</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit profile section -->
    <section id="register-page" class="content auth">
        <!-- edit profile form -->
        <form method="POST" id="register">
            <div class="container">
                <!-- Edit Profile paragraph -->
                <h1>Edit Profile</h1>

                {{ form }}
                {% csrf_token %}

                <!-- edit profile button -->
                <input class="btn submit" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>
{% endblock %}