<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>GamesPlay</title>
</head>

<body>
<div id="box">
    <header>

        <!-- Navigation Bar -->
        <h1><a class="home" href="#">GamesPlay</a></h1>
        <nav>

            <!-- if the user has not created a profile -->
            <a href="#">Create Profile</a>

            <!-- if the user has created a profile -->
            <a href="#">Dashboard</a>
            <a href="#">Create Game</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- headlines and default image -->
    <section id="welcome-world">
        <div class="welcome-message">
            <h2>ALL new games are</h2>
            <h3>Only in GamesPlay</h3>
        </div>
        <img src="../static/images/four_slider_img01.png" alt="hero">
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>