{% extends 'home-page.html' %}
{% block content %}

    <section id="plant-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="plant-header">
                <!-- default profile image (if the user does NOT have any)-->
            {% if not profile.profile_picture %}
                    <img class="plant-img" src="/static/images/default.jpg" alt='profile-image'/>
                <!-- if the user has a profile image -->
            {% else %}
                    <img class="plant-img" src="{{ profile.profile_picture }}" alt='profile-image'/>
            {% endif %}
                <!-- user full name -->
                <h1>{{ profile.full_name }}</h1>

                <!-- user username -->
                <p class="description">Username: {{ profile.username }}</p>

                <p class="description">Total stars:</p>
                <!-- if the user has only one plant -->
                {% if plants_count == 1 %}
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has two plants -->
                    {% elif plants_count == 2 %}
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has three or more plants -->
                    {% elif plants_count >= 3 %}
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <img class="star-img" src="/static/images/star3.png" alt='profile-image'/>
                <!-- if the user has zero plants -->
                    {% elif plants_count == 0 %}
                <p class="description">Total stars: 0</p>
                {% endif %}

                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="#" class="edit-button">Edit</a>
                    <a href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}