{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Catalog with Albums-->
<section id="catalogPage">
    {% if not albums %}
    <!--  If No albums in catalog -->
    <p>No Albums in Catalog!</p>
    {% else %}
    <!-- If albums in catalog -->
    <h1>All Albums</h1>
    <!--Card-Box in catalog -->
    {% for album in albums %}
    <div class="card-box">
        <img src="{{ album.image }}" alt="Cover Image">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.name }}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: ${{ album.price }}</p>
            </div>
            <div class="btn-group">
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- End First Card-Box in catalog -->
</section>

{% endblock %}