{% extends 'home-page.html' %}
{% block content %}

    <!-- details section -->
    <section id="plant-details">
        <h1>Plant Details</h1>
        <div class="info-section">
            <div class="plant-header">
                <!-- plant image -->
                <img class="plant-img"
                     src="{{ plant.image }}"
                     alt='plant image'/>
                <!-- plant type -->
                <h1>{{ plant.plant_type }}</h1>
                <!-- plant name -->
                <p><span class="description-plant">Name: {{ plant.name }}</span></p>
                <!-- plant price -->
                <p><span class="description-plant">Price: {{ plant.price }}</span></p>
                <!-- plant description -->
                <p><span class="description-plant">{{ plant.description }}</span></p>
            </div>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit plant' pk=plant.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'delete plant' pk=plant.pk %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>

{% endblock %}