{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="{% static 'images/note.png' %}" /></li>
                    <li><a href="{% url 'home' %}">Notes</a></li>
                    <li class="right"><a href="{% url 'profile' %}">Profile</a></li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <div class="body">
            <!--headings-->
            <h1>Add Note</h1>
            <!--headings-->

            <!--note data form-->
            <div class="form">
                <form method="POST">

                    {{ form }}
                    {% csrf_token %}

                    <input type="submit" value="Publish" />
                </form>
            </div>
            <!--end note data form-->
        </div>

{% endblock %}
